{% extends "bootstrap/base.html" %}
{% block title %}哈尔滨监狱{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">哈尔滨监狱</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">主页</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
 
{% block content %}
<div class="container">
    <div class="page-header">
        
        <h2>登录</h2>
  {% if error %}<p class="error"><strong>错误:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method="post">
      {{form.hidden_tag()}}
    <dl>
      <dt>监区、科室、看守大队:
      <dd>
      {{ form.name }}
      <dd> 
      <dt>密码:
      <dd>{{ form.password }}
      <dd><input type="submit" value="登录">
    </dl>
  </form>
    </div>
</div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
{% endblock %}